# DB setup
POSTGRES_USER=app
POSTGRES_PASSWORD=replace_with_a_strong_password
POSTGRES_DB=appdb

TOKEN_ENCRYPTION_KEY=<the key>

GITHUB_CLIENT_ID=<the App's client id>
GITHUB_CLIENT_SECRET=<generated client secret>